{namespace neos=Neos\Neos\ViewHelpers}
<div class="login-page">
    <div class="form">
        <f:security.ifAccess privilegeTarget="Neos.Neos:Backend.GeneralAccess">
            <f:then>
                <p>Форма входа отключена в режиме редактирования</p>
            </f:then>
            <f:else>
                <f:security.ifHasRole role="Flowpack.Neos.FrontendLogin:User">
                    <f:then>
                        <p>Вы вошли как: <strong>"{account.accountIdentifier}"</strong></p>
                        <f:form action="logout" method="post" class="form-horizontal clearfix" additionalAttributes="{role:'form'}">
                            <f:form.submit value="Выйти" class="btn btn-primary" />
                        </f:form>
                    </f:then>
                    <f:else>
                        <f:form action="authenticate" method="post" class="login-form form-horizontal clearfix"
                            additionalAttributes="{role:'form'}">
                            <input name="__authentication[Neos][Flow][Security][Authentication][Token][UsernamePassword][username]"
                                class="form-control" id="typo3-username" type="text" placeholder="имя пользователя" />
                            <input name="__authentication[Neos][Flow][Security][Authentication][Token][UsernamePassword][password]"
                                class="form-control" id="typo3-password" type="password" placeholder="пароль" />
                            <f:form.submit value="Вход" class="btn btn-primary" />
                        </f:form>
                    </f:else>
                </f:security.ifHasRole>
            </f:else>
        </f:security.ifAccess>
    </div>
</div>
