{namespace neos=Neos\Neos\ViewHelpers}
<div style="margin: 48px 12px">
    <div class="form">
        <f:security.ifAccess privilegeTarget="Neos.Neos:Backend.GeneralAccess">
            <f:then>
                <p>Форма входа отключена в режиме редактирования</p>
            </f:then>
            <f:else>
                <f:security.ifHasRole role="Flowpack.Neos.FrontendLogin:User">
                    <f:then>
                        <p>Вы вошли как: <strong>"{account.accountIdentifier}"</strong></p>
                        <f:form action="logout" method="post" class="form-horizontal clearfix" additionalAttributes="{role:'form'}">
                            <f:form.submit value="Выйти" class="btn btn-primary" />
                        </f:form>
                    </f:then>
                    <f:else>
                        <h1 class="H1">Вход</h1>
                        <f:form action="authenticate" method="post"
                            additionalAttributes="{role:'form'}">
                            <input style="padding: 8px 12px; margin: 12px 0px; border: 1px solid #ccc" name="__authentication[Neos][Flow][Security][Authentication][Token][UsernamePassword][username]"
                                id="username" type="text" placeholder="имя пользователя" /><br/>
                            <input style="padding: 8px 12px; margin-bottom: 12px; border: 1px solid #ccc" name="__authentication[Neos][Flow][Security][Authentication][Token][UsernamePassword][password]"
                                id="password" type="password" placeholder="пароль" /><br/>
                            <f:form.submit value="Вход" class="Button" style="border: none; margin-top: 12px;" />
                        </f:form>
                    </f:else>
                </f:security.ifHasRole>
            </f:else>
        </f:security.ifAccess>
    </div>
</div>
