{namespace neos=Neos\Neos\ViewHelpers}

<header class="hero-unit" role="banner">
	<neos:link.node node="~" >
		<img src="{f:uri.resource(path: 'Legacy/Images/logo.png', package: 'Sfi.Kateheo')}" alt="Катехео" class="pull-left" style="padding-right: 1em" />
	</neos:link.node>
	<h1>
		<neos:link.node node="~" style="color:inherit; border-bottom:inherit;">Идите, научите все народы</neos:link.node>
	</h1>
	<p class="lead"><neos:link.node node="~" style="color:inherit; border-bottom:inherit;">Портал Научно-методического Центра по миссии и катехизации при СФИ</neos:link.node></p>
</header>
