.Button {
	padding: 12px;
	background-color: rgba(0, 0, 0, 0.9);
	color: white;
	font-family: var(--fontFamily-alt);
	text-transform: uppercase;
	font-weight: bold;
}
.Button:hover {
	background-color: rgba(0, 0, 0, 0.6);
}
