.MobileNav-Menu {
	position: fixed;
	top: 0;
	left: -245px;
	width: 240px;
	height: 100%;
	overflow: auto;
	box-shadow: var(--color-grayLine) 2px 0 2px;
	transition: ease-in-out 0.3s;
}
.MobileNav-Menu a {
    display: block !important;
}
.MobileNav-Content {
	transition: ease-in-out 0.3s;
}
.js-MobileNav.isActive {
	overflow: hidden;
}
.js-MobileNav.isActive .MobileNav-Content {
	position: relative;
	transform: translateX(240px);
}
.js-MobileNav.isActive .MobileNav-Menu {
	transform: translateX(240px);
}

.MobileNav-Menu {
	padding: 12px;
}

.MobileNav-Toggle {
	cursor: pointer;
	display: inline-block;
}

.MobileNav-Toggle .IconMenu {
	display: inline-block;
}

.IconMenu {
	padding: 4px 9px;
}
.IconMenu:hover {
	opacity: 0.7;
}
.isActive .IconMenu img {
	transform: rotate(90deg);
}

.IconMenu img{
	transition: var(--transition);
	width: 28px;
	height: 28px;
}

.js-sidebar{
	will-change: min-height;
}

.js-sidebar__inner{
	transform: translate(0, 0);
	transform: translate3d(0, 0, 0);
	will-change: position, transform;
}
